<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>水产品-管理后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="navbar-toggler-icon"></span>
                    </button> <a class="navbar-brand" href="/admin/backstage">冷链后台管理</a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="navbar-nav">
<!--                            <li class="nav-item active">-->
<!--                                 <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                 <a class="nav-link" href="#">Link</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item dropdown">-->
<!--                                 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>-->
<!--                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--                                     <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>-->
<!--                                    <div class="dropdown-divider">-->
<!--                                    </div> <a class="dropdown-item" href="#">Separated link</a>-->
<!--                                </div>-->
<!--                            </li>-->
                        </ul>
                        <form class="form-inline" action="/searchorder" method="GET">
                            <input class="form-control mr-sm-3" type="text" name="oid"/>
                            <button class="btn btn-primary my-2 my-sm-0" type="submit">
                                查询订单号
                            </button>
                        </form>
                        <ul class="navbar-nav ml-md-auto">
                            <li class="nav-item dropdown">
                                 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">{{data['name']}}</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <div class="dropdown-divider">
                                    </div> <a class="dropdown-item" href="/admin/logout/">登出</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row col-md-10 offset-1" style="margin-top:20px;">
            <div class="col-md-3" style="margin-top:50px;">
                <div class="list-group">
                    <a href="/admin/backstage" class="list-group-item list-group-item-action">主页</a>
                    <a href='/admin/delivers' class="list-group-item list-group-item-action">
                        运输情况
                    </a>
<!--                    <a href='#' class="list-group-item justify-content-between list-group-item-action">-->
<!--                        消息 <span class="badge badge-secondary badge-pill"> {{ data['m_num'] }} </span>-->
<!--                    </a>-->
                    <a href="/admin/alerts" class="list-group-item list-group-item-action justify-content-between active">
                        预警
                        {% if data['level'] == 4 %}
                            <span class="badge badge-danger badge-pill"> {{ data['alert_num'] }} </span>
                        {% endif %}
                        {% if data['level'] == 3 %}
                            <span class="badge badge-warning badge-pill"> {{ data['alert_num'] }} </span>
                        {% endif %}
                        {% if data['level'] == 2 %}
                            <span class="badge badge-info badge-pill"> {{ data['alert_num'] }} </span>
                        {% endif %}
                        {% if data['level'] == 1 %}
                            <span class="badge badge-success badge-pill"> {{ data['alert_num'] }} </span>
                        {% endif %}
                        {% if data['level'] == 0 %}
                            <span class="badge badge-secondary badge-pill"> {{ data['alert_num'] }} </span>
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-md-9">

                <div class="row" style="margin-top:50px;">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-lg" role="group">

                            <button class="btn btn-primary btn-sm" type="button">
                                全部预警
                            </button>
<!--                            <button class="btn btn-success" type="button">-->
<!--                                已读-->
<!--                            </button>-->
<!--                            <button class="btn btn-danger" type="button">-->
<!--                                未读-->
<!--                            </button>-->
                        </div>
                    </div>
                </div>

                <div class="row" style="">
                    <div class="col-md-12">
                        <div id="card-719734">
                            {% for i in range(data['alert_len']) %}
                            <div class="card
                            {% if data['level'] == 4 %}
                                bg-danger
                                text-white
                             {% elif data['level'] == 3 %}
                                bg-warning
                                text-white
                             {% elif data['level'] == 2 %}
                                bg-info
                                text-white
                             {% endif %}
                                ">
                                <div class="card-header">

                                    {% if data['alerts'][i][0]['valid'] == 1 %}
                                    <span class="badge-pill badge-primary" id="span" style="font-size:10px;display:;"></span>&nbsp;&nbsp;
                                    {% endif %}
                                     <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-719734" onclick="showHint({{data['alerts'][i][0]['id']}})" href="#card-element-{{data['alerts'][i][0]['id']}}" style="{%if data['level'] == 1%} {% else %}color:white;{% endif %}">{{i+1}} - {{data['alerts'][i][0]['title']}}  </a>
                                    <a href="/admin/delalert/{{data['alerts'][i][0]['id']}}" style="float:right;text-decoration:none;{%if data['level'] == 1%} {% else %}color:white;{% endif %}"> 删除消息 ×</a>
                                    <a href="/order/{{ data['alerts'][i][0]['oid'] }}" style="float:right;text-decoration:none;{%if data['level'] == 1%} {% else %}color:white;{% endif %}">查看订单 &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    <a href="#" style="float:right; text-decoration:none;{%if data['level'] == 1%} color:black; {% else %}color:white;{% endif %}"> {{data['alerts'][i][0]['created_at'] }} &nbsp;&nbsp; </a>
                                </div>
                                <div id="card-element-{{data['alerts'][i][0]['id']}}" class="collapse bg-light">
                                    <div class="card-body">
                                        <p style="color:black;">
                                            {{data['alerts'][i][0]['msg']}}
                                        </p>
                                        <table class="table" style="">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        产品名
                                                    </th>
                                                    <th>
                                                        toxic
                                                    </th>
                                                    <th>
                                                        med
                                                    </th>
                                                    <th>
                                                        water
                                                    </th>
                                                    <th>
                                                        temp
                                                    </th>
                                                    <th>
                                                        moist
                                                    </th>
                                                    <th>
                                                        store
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        {{ data['alerts'][i][2]}}
                                                    </td>
                                                    <td>
                                                        {{ data['alerts'][i][1]['toxic'] }}
                                                    </td>
                                                    <td>
                                                        {{ data['alerts'][i][1]['med'] }}
                                                    </td>
                                                    <td>
                                                        {{ data['alerts'][i][1]['water'] }}
                                                    </td>
                                                    <td>
                                                        {{ data['alerts'][i][1]['temp'] }}
                                                    </td>
                                                    <td>
                                                        {{ data['alerts'][i][1]['moist'] }}
                                                    </td>
                                                    <td>
                                                        {{ data['alerts'][i][1]['store'] }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">

var xmlHttp=null;

function showHint(id)
{
try
  {// Firefox, Opera 8.0+, Safari, IE7
  xmlHttp=new XMLHttpRequest();
  }
catch(e)
  {// Old IE
  try
    {
    xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
  catch(e)
    {
    alert ("Your browser does not support XMLHTTP!");
    return;
    }
  }
var url="/alert/read/" + id;
xmlHttp.open("GET",url,false);
xmlHttp.send(null);
document.getElementById("span").style.display="none";
}
</script>
</body>
</html>