<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>水产品-管理后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="navbar-toggler-icon"></span>
                    </button> <a class="navbar-brand" href="#">冷链后台管理</a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="navbar-nav">
<!--                            <li class="nav-item active">-->
<!--                                 <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                 <a class="nav-link" href="#">Link</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item dropdown">-->
<!--                                 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>-->
<!--                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--                                     <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>-->
<!--                                    <div class="dropdown-divider">-->
<!--                                    </div> <a class="dropdown-item" href="#">Separated link</a>-->
<!--                                </div>-->
<!--                            </li>-->
                        </ul>
                        <form class="form-inline" action="/searchorder" method="GET">
                            <input class="form-control mr-sm-3" type="text" name="oid"/>
                            <button class="btn btn-primary my-2 my-sm-0" type="submit">
                                查询订单号
                            </button>
                        </form>
                        <ul class="navbar-nav ml-md-auto">
                            <li class="nav-item dropdown">
                                 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">{{data['name']}}</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <div class="dropdown-divider">
                                    </div> <a class="dropdown-item" href="/admin/logout/">登出</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row col-md-10 offset-1" style="margin-top:20px;">
            <div class="col-md-3" style="margin-top:50px;">
                <div class="list-group">
                    <a href="/admin/backstage" class="list-group-item list-group-item-action">主页</a>
                    <a href='/admin/delivers' class="list-group-item list-group-item-action">
                        运输情况
                    </a>
<!--                    <a href='#' class="list-group-item justify-content-between list-group-item-action">-->
<!--                        消息 <span class="badge badge-secondary badge-pill"> {{ data['m_num'] }} </span>-->
<!--                    </a>-->
                    <a href="/admin/alerts" class="list-group-item list-group-item-action justify-content-between">
                        预警
                        {% if data['level'] == 4 %}
                            <span class="badge badge-danger badge-pill"> {{ data['alert_num'] }} </span>
                        {% endif %}
                        {% if data['level'] == 3 %}
                            <span class="badge badge-warning badge-pill"> {{ data['alert_num'] }} </span>
                        {% endif %}
                        {% if data['level'] == 2 %}
                            <span class="badge badge-info badge-pill"> {{ data['alert_num'] }} </span>
                        {% endif %}
                        {% if data['level'] == 1 %}
                            <span class="badge badge-success badge-pill"> {{ data['alert_num'] }} </span>
                        {% endif %}
                        {% if data['level'] == 0 %}
                            <span class="badge badge-secondary badge-pill"> {{ data['alert_num'] }} </span>
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">

                        {% if data['level'] > 1 %}
                            <div class="row">
                                <div class="col-md-12">
                                    {% if data['level'] == 2 %}
                                        <div class="alert alert-info alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                ×
                                            </button>
                                            <h4>
                                                请注意
                                            </h4> <strong>轻微异变</strong> 你有几条警告信息，他们不是很严重，但你可以看看
                                        </div>
                                    {% endif %}
                                    {% if data['level'] == 3 %}
                                        <div class="alert alert-warning alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                ×
                                            </button>
                                            <h4>
                                                请注意
                                            </h4> <strong>有些问题</strong> 你有几条警告信息，他们可能会造成一些问题，请注意
                                        </div>
                                    {% endif %}
                                    {% if data['level'] == 4 %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                ×
                                            </button>
                                            <h4>
                                                请注意
                                            </h4> <strong>非常严重！</strong> 你有几条警告信息，其中几条非常严重！请立刻处理！
                                        </div>
                                    {% endif %}


                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-top:50px;">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-lg" role="group">

                            <button class="btn btn-primary" type="button" onclick="allcard()">
                                全部订单
                            </button>
                            <button class="btn btn-success" type="button"  onclick="unsend()">
                                &nbsp;未发货&nbsp;
                            </button>
                            <button class="btn btn-danger" type="button"  onclick="send()">
                                &nbsp;已发货&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row bg-primary" id="card-back" style="padding-top:8px;padding-bottom:10px;border-radius:8px;margin-bottom:40px;">
                    <div class="col-md-12" id="all-cards" style="display:;">
                        {% for i in range(data['unsend_row_len']) %}
                        <div class="row unsend-cards" style="margin-top:10px; display:;">
                            {% for j in range(i*3, i*3+3) %}
                            {% if j < data['unsend_len'] %}
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <a  href="/order/{{data['unsend'][j][0]}}" style="font-size:17px; text-decoration:none;">
                                            订单号：{{data['unsend'][j][0]}}
                                        </a>
                                            <span class="badge-pill badge-danger" style="float:right;">未发货</span>


                                    </div>

                                    <div class="card-body" style="padding-left:8px;">
                                        <ul class="card-text">
                                            <li class="list-item" id="item2">
                                                产品名：{{data['unsend'][j][1]}}
                                            </li>
                                            <li class="list-item">
                                                ￥ {{data['unsend'][j][3]/100 * data['unsend'][j][2]}} - （{{data['unsend'][j][3]/100}} 元 × {{data['unsend'][j][2]}} 单位)
                                            </li>
                                            <li class="list-item">
                                                购买者：{{data['unsend'][j][4]}}
                                            </li>
                                            <li class="list-item">
                                                联系电话：{{data['unsend'][j][5]}}
                                            </li>
                                            <li class="list-item">
                                                收货地址：{{data['unsend'][j][6]}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}

                        </div>
                        {% endfor %}
                        <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="90%" color="white" size="3" />
                        {% for i in range(data['send_row_len']) %}
                        <div class="row send-cards" style="margin-top:10px; display:;">
                            {% for j in range(i*3, i*3+3) %}
                            {% if j < data['send_len'] %}
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <a  href="/order/{{data['send'][j][0]}}" style="font-size:17px; text-decoration:none;">
                                            订单号：{{data['send'][j][0]}}
                                        </a>
                                        {% if data['send'][j][7] == 1 %}
                                            <span class="badge-pill badge-warning" style="float:right;">已发货</span>
                                        {% elif data['send'][j][7] == 0 %}
                                            <span class="badge-pill badge-danger" style="float:right;">未发货</span>
                                        {% else %}
                                            <span class="badge-pill badge-success" style="float:right;">已完成</span>
                                        {% endif %}

                                    </div>

                                    <div class="card-body" style="padding-left:8px;">
                                        <ul class="card-text">
                                            <li class="list-item" id="item1">
                                                产品名：{{data['send'][j][1]}}
                                            </li>
                                            <li class="list-item">
                                                ￥ {{data['send'][j][3]/100 * data['send'][j][2]}} - （{{data['send'][j][3]/100}} 元 × {{data['send'][j][2]}} 单位)
                                            </li>
                                            <li class="list-item">
                                                购买者：{{data['send'][j][4]}}
                                            </li>
                                            <li class="list-item">
                                                联系电话：{{data['send'][j][5]}}
                                            </li>
                                            <li class="list-item">
                                                收货地址：{{data['send'][j][6]}}
                                            </li>
                                            <li class="list-item">
                                                当前位置：{{data['send'][j][9]['status']}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer" style="padding-top:0px; padding-right:0px; padding-left:0px; padding-bottom:0px;">
                                        <div id="card-{{data['send'][j][0]}}-{{j}}">
                                            <div class="card">
                                                <div class="card-header">
                                                     <a class="card-link" data-toggle="collapse" data-parent="#card-{{data['send'][j][0]}}-{{j}}" href="#card-element-{{data['send'][j][0]}}">当前运送详情</a>
                                                </div>
                                                <div id="card-element-{{data['send'][j][0]}}" class="collapse">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <label for="info">质量指标： </label>
                                                                {% if data['send'][j][12] == 1 %}
                                                                    <span class="badge-pill badge-info" style="float:right;">轻微</span>
                                                                {% elif data['send'][j][12] == 2 %}
                                                                    <span class="badge-pill badge-warning" style="float:right;">中度</span>
                                                                {% elif data['send'][j][12] == 3 %}
                                                                    <span class="badge-pill badge-danger" style="float:right;">严重</span>
                                                                {% else %}
                                                                    <span class="badge-pill badge-success" style="float:right;">正常</span>
                                                                {% endif %}
                                                                <ul id="info">
                                                                    <li>
                                                                        Toxic: {{data['send'][j][8]['toxic']}}
                                                                    </li>
                                                                    <li>
                                                                        Med: {{data['send'][j][8]['med']}}
                                                                    </li>
                                                                    <li>
                                                                        Water: {{data['send'][j][8]['water']}}
                                                                    </li>
                                                                    <li>
                                                                        Temperature: {{data['send'][j][8]['temp']}}
                                                                    </li>
                                                                    <li>
                                                                        Moist : {{data['send'][j][8]['moist']}}
                                                                    </li>
                                                                    <li>
                                                                        Store: {{data['send'][j][8]['store']}}
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <div class="col-6">
                                                                <label for="car">当前运送信息</label>
                                                                <ul id="car">
                                                                    <li>
                                                                        {{data['send'][j][10]['cplace']}} · {{data['send'][j][10]['cnumber']}}
                                                                    </li>
                                                                    <li>
                                                                        司机：{{data['send'][j][11]['name']}}
                                                                    </li>
                                                                    <li>
                                                                        联系方式：{{data['send'][j][11]['tel']}}
                                                                    </li>
                                                                    <li>当前位置：{{data['send'][j][9]['status']}}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}

                        </div>
                        {% endfor %}
                            <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function allcard(){
        document.getElementById('card-back').classList.remove('bg-danger');
        document.getElementById('card-back').classList.remove('bg-success');
        document.getElementById('card-back').classList.add('bg-primary');
        ucards = document.getElementsByClassName('unsend-cards');
        for (var i=0;i<ucards.length;i++){
            ucards[i].style.display="";
        }
        cards = document.getElementsByClassName('send-cards');
        for (var i=0;i<cards.length;i++){
            cards[i].style.display="";
        }
    }
    function send(){
        document.getElementById('card-back').classList.add('bg-danger');
        document.getElementById('card-back').classList.remove('bg-success');
        document.getElementById('card-back').classList.remove('bg-primary');

        ucards = document.getElementsByClassName('unsend-cards');
        for (var i=0;i<ucards.length;i++){
            ucards[i].style.display="none";
        }
        cards = document.getElementsByClassName('send-cards');
        for (var i=0;i<cards.length;i++){
            cards[i].style.display="";
        }
    }
    function unsend(){
        document.getElementById('card-back').classList.remove('bg-primary');
        document.getElementById('card-back').classList.remove('bg-danger');
        document.getElementById('card-back').classList.add('bg-success');
        ucards = document.getElementsByClassName('unsend-cards');
        for (var i=0;i<ucards.length;i++){
            ucards[i].style.display="";
        }
        cards = document.getElementsByClassName('send-cards');
        for (var i=0;i<cards.length;i++){
            cards[i].style.display="none";
        }
    }
</script>


</body>
</html>